doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    link(rel="shortcut icon" href="/image/favicon.ico")
    title Jian Cui
  body
    #app !{html}
    script.
      var DEHYDRATED_STATE = !{preloadedState}
    if env=='production'                 
      script(src=assetManifest['common.js'])
      script(src=assetManifest['main.js'])
    else
      script(src=PUBLIC_URL + assetManifest['common'][0])
      script(src=PUBLIC_URL + assetManifest['main'][0])